@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Events</h2>
            </div>
          </div>

            @foreach (var item in Model.Allevents)
            {
                <div class="col-md-4">
                    <div class="product-item">
                        <a href="#"><img src="assets/images/product_01.jpg" alt=""></a>
                        <div class="down-content">
                            <a><h4>@item.EventTitle</h4></a>
                            <h6>@item.StartPostalCode - @item.EndPostalCode</h6>
                            <p>Start date : @item.StartDate</p>
                            <p>End date : @item.EndDate</p>
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <a class="btn btn-primary mt-3"  asp-page="/Requests/Request_form"
                           asp-route-EventId="@item.Id">Request</a>
                        </div>
                    </div>
                </div>
            }
                
              
        </div>
      </div>
    </div>

    <script src="js/owl.js"></script>