@page
@model Nvyro.Pages.Requests.Request_formModel;
@{

}
<form method="post" enctype="multipart/form-data">
    <div class="mt-4 mx-0 row dashboard-height">
        <!-- LEFT CARD -->
        <div class="col-4 pl-0" style="padding-right:1rem;">
            <div class="card col-12 mb-3">
                @if (!string.IsNullOrEmpty(Model.currentEvent.ImageURL))
                    {
                        <img src="@Model.currentEvent.ImageURL" />
                    }
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">
                        Event Details
                    </h6>
                    <hr />
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="card-subtitle mb-2 text-muted small-text">Event Location:</h5><br />
                            <h5 class="card-subtitle mb-2 text-muted small-text">Start Date:</h5><br />
                            <h5 class="card-subtitle mb-2 text-muted small-text">End Date:</h5><br />
                        </div>
                        <div class="col-md-6">
                            <h5 class="card-subtitle mb-2 text-muted small-text">@Model.currentEvent.EventTitle</h5><br />
                            <h5 class="card-subtitle mb-2 text-muted small-text">@Model.currentEvent.StartDate.ToString("dd-MM-yyyy")</h5><br />
                            <h5 class="card-subtitle mb-2 text-muted small-text">@Model.currentEvent.EndDate.ToString("dd-MM-yyyy")</h5><br />
                        </div>
                    </div>
                    <hr />
                    <h5 class="card-subtitle mb-2 text-muted small-text">Area Covered</h5><br />
                    <h5 class="card-subtitle mb-2 text-muted small-text">The event will take place from addresses with postal code starting from <strong>@Model.currentEvent.StartPostalCode</strong> to <strong>@Model.currentEvent.EndPostalCode</strong>.</h5>

                    <hr />
                    <h5 class="card-subtitle mb-2 text-muted small-text">Event Description</h5><br />
                    <h5 class="card-subtitle mb-2 text-muted small-text"> @Model.currentEvent.Description </h5><br />


                </div>
            </div>
        </div>
        <!-- END LEFT CARD -->
        <!-- RIGHT CARD -->
        <div class="col-8 pr-0" style="padding-left:0;">
            <!-- DETAILS -->
            <div class="card-body">
                <div id="form1" class="form1" style="display : block;">
                    <h5 class="card-title">Your Details</h5>
                    <h5 style="font-size : 13px;" class="card-title">Check if your details are correct</h5>
                    <h5 style="font-size : 13px; display : block;" class="card-title" id="not-own-acc">Not using your own account details ? Click <button type="button" id="not-using-acc-btn">here.</button> </h5>
                    <h5 style="font-size : 13px; display : none; " class="card-title" id="own-acc">Using your own account details ? To revert back, click <button type="button" id="using-acc-btn">here.</button> </h5>
                    <input type="hidden" asp-for="newRequest.isUsingUserAddressString" value="true" id="isUsingUserAddress"/>
                    <hr />
                    <h5 class="card-title">Address</h5>
                    <div class="row mb-3">
                        <div class="form-floating col-12">
                            <label>Search Address</label>
                            <input disabled id="search-full-address" class="form-control" aria-required="true" />
                            <div id="select-address" class="show" style="position:relative;">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-floating  col">
                            <label>Unit Number</label>
                            <input id="register-unitNumber" asp-for="newRequest.UnitNumber" class="form-control" aria-required="true" disabled />
                            <input type="hidden" asp-for="newRequest.UnitNumber" />
                            <span asp-validation-for="newRequest.UnitNumber" class="text-danger"></span>
                        </div>
                        <div class="form-floating  col">
                            <label>Block Number</label>
                            <input id="register-blockNumber" asp-for="newRequest.BlockNumber" class="form-control" aria-required="true" disabled />
                            <input type="hidden" asp-for="newRequest.BlockNumber" />
                            <span asp-validation-for="newRequest.BlockNumber" class="text-danger"></span>
                        </div>
                        <div class="form-floating  col">
                            <label>Postal Code</label>
                            <input id="register-postalCode" asp-for="newRequest.PostalCode" class="form-control" aria-required="true" disabled />
                            <input type="hidden" asp-for="newRequest.PostalCode" />
                            <span asp-validation-for="newRequest.PostalCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <label asp-for="newRequest.RoadName"></label>
                        <input id="register-roadName" asp-for="newRequest.RoadName" class="form-control" aria-required="true" disabled />
                        <input type="hidden" asp-for="newRequest.RoadName" />
                        <span asp-validation-for="newRequest.RoadName" class="text-danger"></span>
                    </div>
                    <div class="form-floating  col">
                        <input id="startpostal" asp-for="currentEvent.StartPostalCode" class="form-control" aria-required="true" hidden />
                        <input id="endpostal" asp-for="currentEvent.EndPostalCode" class="form-control" aria-required="true" hidden />
                        <input asp-for="currentEvent.EventTitle" class="form-control" aria-required="true" hidden />
                        <input asp-for="currentEvent.StartDate" class="form-control" aria-required="true" hidden />
                        <input asp-for="currentEvent.EndDate" class="form-control" aria-required="true" hidden />
                        <input asp-for="currentEvent.Description" class="form-control" aria-required="true" hidden />
                        <input asp-for="currentEvent.StartRoadName" class="form-control" aria-required="true" hidden />
                        <input asp-for="currentEvent.EndRoadName" class="form-control" aria-required="true" hidden />
                        <input asp-for="currentEvent.ImageURL" class="form-control" aria-required="true" hidden />
                        <input id="EventId" asp-for="currentEvent.Id" class="form-control" aria-required="true" hidden />
                        <input asp-for="newRequest.CopyEventId" class="form-control" aria-required="true" hidden value="@Model.currentEvent.Id" />
                        <input asp-for="currentEvent.StartBlockNumber" class="form-control" aria-required="true" hidden />
                        <input asp-for="currentEvent.EndBlockNumber" class="form-control" aria-required="true" hidden />
                    </div>
                    <br>
                    <button type="button" class="btn btn-primary" id="continue">Continue</button>
                </div>
                <div id="form2" style="display : none;">
                    <h5 style="font-size : 14px;" class="card-title">Upload an image with a short description to help our volunteers easily identify the recyclables.</h5>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <div>
                                    <input type="file" accept="image/*" asp-for="Upload" class="form-control" onchange="showImgPreview(this)" multiple />
                                    <button type="button" class="btn btn-danger mt-2" onclick="clearFileInput(this)">Remove Image</button>
                                    <span asp-validation-for="Upload" class="text-danger"></span>
                                </div>
                            </div>
                            <div style="display: flex;">
                                <img id="imgPreview1" style="height:250px;width:250px;object-fit:cover; float: left; margin-right: 10px;" />
                                <img id="imgPreview2" style="height:250px;width:250px;object-fit:cover; float: left; margin-right: 10px;" />
                                <img id="imgPreview3" style="height:250px;width:250px;object-fit:cover; float: left;" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <label>Image Description</label>
                    <input asp-for="newRequest.Img_Description" class="form-control" aria-required="true" />
                    <input type="hidden" asp-for="newRequest.Img_Description" />
                    <span asp-validation-for="newRequest.Img_Description" class="text-danger"></span>
                    <br />
                    <div>
                        <button type="button" class="btn btn-secondary" id="GoBack">Go Back</button>
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>

            <!-- END ADDRESS -->

        </div>

        <!-- END RIGHT CARD -->
    </div>
</form>
<style>

    .small-text {
        font-size: 16.5px; 
    }

    .btn {
        font-size: 1rem;
        font-weight: 300;
        padding: 0.5em 1em;
        color: white;
        background-color: gray;
        border: 10px solid var(--clr-accent);
        border-radius: 5px;
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s;
        transition: all 0.3s;
    }
    .btn:focus {
        border: none;
    }
    .btn:hover {
        transform: translateY(-7px);
    }
</style>
<script>
    function showImgPreview(input) {
        if (input.files.length >= 1) {
            var uploadImg1 = new FileReader();
            uploadImg1.onload = function (displayImg1) {
                $("#imgPreview1").attr('src', displayImg1.target.result);
            }
            uploadImg1.readAsDataURL(input.files[0]);
        }
        if (input.files.length >= 2) {
            var uploadImg2 = new FileReader();
            uploadImg2.onload = function (displayImg2) {
                $("#imgPreview2").attr('src', displayImg2.target.result);
            }
            uploadImg2.readAsDataURL(input.files[1]);
        }
        if (input.files.length >= 3) {
            var uploadImg3 = new FileReader();
            uploadImg3.onload = function (displayImg3) {
                $("#imgPreview3").attr('src', displayImg3.target.result);
            }
            uploadImg3.readAsDataURL(input.files[2]);
        }
    }
    function clearFileInput(element) {
        var input = element.previousElementSibling;
        input.value = "";
        $("#imgPreview1").attr('src', ' ');
        $("#imgPreview2").attr('src', ' ');
        $("#imgPreview3").attr('src', ' ');
    }
</script>


@section Scripts {
    <script src="~/js/Requestform.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }