@page
@model Nvyro.Pages.Requests.UserRequestViewModel;
@{
    ViewData["Title"] = "Your Requests";
}
<nav class="navbar navbar-expand-lg navbar-light bg-light full-wo-footer" style="padding:0;">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="dashboard-button active" asp-page="/User/Dashboard"><i class="fa-solid fa-user"></i> My Profile</a>
            <a class="dashboard-button" asp-page="/User/Rewards"><i class="fa-solid fa-coins"></i> Rewards</a>


            <a class="dashboard-button " asp-page="/OrganizerEvent/Index"><i class="fa-solid fa-calendar-days"></i> Events</a>

            <a class="dashboard-button" href="/Requests/UserRequestView">Your Requests</a>

        </div>
    </div>
</nav>
<br />
<h1 class="display-4">@ViewData["Title"]</h1>
<table class="table mt-3">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.AllRequests[0].Id)</th>
            <th>Event</th>
            <th>@Html.DisplayNameFor(model => model.AllRequests[0].PostalCode)</th>
            <th>@Html.DisplayNameFor(model => model.AllRequests[0].BlockNumber)</th>
            <th>@Html.DisplayNameFor(model => model.AllRequests[0].UnitNumber)</th>
        </tr>
    </thead>
    <tbody>
        @{
            @foreach (var item in Model.AllRequests)
            {
                <tr>

                    <td>@item.Id</td>
                    <td>@Model.currentEvent.EventTitle</td>
                    <td>@item.PostalCode</td>
                    <td>@item.BlockNumber</td>
                    <td>@item.UnitNumber</td>
                    <td>
                        <a asp-page="/Requests/RequestsDetail" asp-route-id="@item.Id" asp-route-EventId="@Model.currentEvent.Id">View Details</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

