@page
@model Nvyro.Pages.OrganizerEvent.AllEventsModel
@{
    ViewData["Title"] = "All Events";
}

<h1 class="display-6">@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/Eventadd.css"/>

<div class="row">

    @{

            @foreach (var item in Model.EventList) {
                <div class="col-md-4">
                    <div class="product-item">
                        <a href="#"><img src="assets/images/product_01.jpg" alt=""></a>
                        <div class="down-content">
                            <h4>@item.EventTitle</h4>
                            <p>@item.StartDate.ToShortDateString() to @item.EndDate.ToShortDateString()</p>
                            <p>@item.StartTime to @item.EndTime</p>
                            <p>Collection will be conducted from @item.StartRoadName Block @item.StartBlockNumber to @item.EndRoadName Block @item.EndBlockNumber</p>
                            <p style="font-weight: bold;">More details..</p>
                            <p>@item.Description</p>
                        </div>
                    </div>
                </div>
        }

    }

</div>


<script>
    const collapseElementList = document.querySelectorAll('.collapse')
    const collapseList = [...collapseElementList].map(collapseEl => new bootstrap.Collapse(collapseEl))
</script>