@page
@model Nvyro.Pages.OrganizerEvent.IndexModel
@{
    ViewData["Title"] = "Organizations Collection Events";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light full-wo-footer" style="padding:0;">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="dashboard-button " asp-page="/User/UserDashboard"><i class="fa-solid fa-user"></i> My Profile</a>
            <a class="dashboard-button " href=""><i class="fa-solid fa-coins"></i> Rewards</a>
            <a class="dashboard-button active" asp-page="/OrganizerEvent/Index"><i class="fa-solid fa-calendar-days"></i> Events</a>
         @*   @if (@Model.AppUser.Roles.Contains("Organizer"))
            {*@
                <a class="dashboard-button " href="#"><i class="fa-solid fa-calendar-days"></i> Recylables </a>
         @*   }*@
        </div>
    </div>
</nav>

<h4 style="margin: 10px">Events</h4>

<table class="table mt-3 table-striped " >
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.EventList[0].Id)</th>
            <th>@Html.DisplayNameFor(model => model.EventList[0].ImageURL)</th>
            <th>@Html.DisplayNameFor(model => model.EventList[0].EventTitle)</th>
            <th>@Html.DisplayNameFor(model => model.EventList[0].StartDate)</th>
            <th>@Html.DisplayNameFor(model => model.EventList[0].EndDate)</th>
            <th>@Html.DisplayNameFor(model => model.EventList[0].StartTime)</th>
            <th>@Html.DisplayNameFor(model => model.EventList[0].EndTime)</th>
            <th>Start Location</th>
            <th>End Location</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
                                @foreach (var item in Model.EventList)
            {
                                    <tr>
                                    <td>@item.Id</td>
                                    <td>@item.ImageURL</td>
                                    <td>@item.EventTitle</td>
                                    <td>@item.StartDate.ToShortDateString()</td>
                                    <td>@item.EndDate.ToShortDateString()</td>
                                    <td>@item.StartTime</td>
                                    <td>@item.EndTime</td> 
                                    <td>S(@item.StartPostalCode) <Br>
                                        Block @item.StartBlockNumber <Br>
                                        @item.StartRoadName</td>
                                    <td>S(@item.EndPostalCode) <br> Block @item.EndBlockNumber <br> @item.EndRoadName</td>
                                    <td>
                                         <a asp-page="/OrganizerEvent/EventDetails" asp-route-id="@item.Id" class="text-decoration-none">Edit Event</a>
                                    </td>
                                    </tr>
            }
        }
    </tbody>
</table>

<a class="btn btn-primary mt-3" href="/OrganizerEvent/Add">Add Event</a>

