@page
@model Nvyro.Pages.Forum.ForumModel
@{
    ViewData["Title"] = "Recycling Forum";
}

<h1 class="fw-bold text-center py-4 px-2">@ViewData["Title"]</h1>

<h2 class="fw-bold">Browse Posts</h2>
<table class="table mt-3">
    <tbody>
       @{
            @foreach (var item in Model.Posts)
            {
                <tr>
                <td>@item.Title</td>
                <td>@item.PostDate.ToShortDateString()</td>
                <td>@Html.Raw(item.Description.Length > 20 ? item.Description.Substring(0, 20) + "..." : item.Description)</td>    
                <td><a asp-page="/Forum/ForumView" asp-route-id="@item.Id" class="btn btn-primary pull-right">View</a></td>
                @if (User.Identity.IsAuthenticated)
                {
                <td><a asp-page="/Forum/ForumEdit" asp-route-id="@item.Id" class="btn btn-secondary pull-right">Edit</a></td>
                }
                </tr>
            }
        }
    </tbody>
</table>
@if (User.Identity.IsAuthenticated){
    <a class="btn btn-primary mt-3 pull-right" href="/Forum/ForumAdd">Add Post</a>
}