@page
@model Nvyro.Pages.Admin.Dashboard
@{
}
<nav class="navbar navbar-expand-lg navbar-light bg-light full-wo-footer" style="padding:0;">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="dashboard-button active" asp-page="/Admin/Dashboard"><i class="fa-solid fa-user"></i> My Profile</a>
      <a class="dashboard-button "  asp-page="/Admin/CreateRewards"><i class="fa-solid fa-coins"></i> Reward Management </a>
      <a class="dashboard-button " asp-page="./UserManagement"><i class="fa-solid fa-users"></i> User Management </a>
      <a class="dashboard-button" asp-page="./Statistics"><i class="fa-solid fa-chart-pie"></i> Statistics</a>
      <a class="dashboard-button" asp-page="./Categories"><i class="fa-solid fa-recycle"></i> Categories</a>
    </div>
  </div>
</nav>

<!-- Main Menu area End-->
<form method="post" enctype="multipart/form-data">
<div class="mt-4 mx-0 row dashboard-height">
        <!-- LEFT CARD -->
        <div class="col-4 pl-0" style="padding-right:1rem;">
            <div class="card dashboard-card col-12 mb-3">

                <input id="dashboard-image-input" hidden type="file" accept="image/jpg, image/png" asp-for="Upload" onchange="showImgPreview(this)" />
                <div class="dashboard-img-container mt-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Click Edit Profile To Change Profile Pic">
                    <img id="dashboard-image" src="@(Model.AppUser.ProfilePicURL!=null ? Model.AppUser.ProfilePicURL :"/assets/images/default-profile-pic.jpg")" alt="Card image cap">
                </div>

                <div class="card-body">
                    <h5 class="card-title">@Model.AppUser.FullName</h5>
                    <h6 class="card-subtitle mb-2 text-muted" >
                        @Model.AppUser.Roles
                    </h6>
                    <h6 class="card-subtitle mb-2 text-muted">
                        @Model.AppUser.Email
                    </h6>
                    
                    <hr />
                    <button type="button" id="edit-profile-btn" class="dashboard-edit-profile">Edit Profile</button>
                    <button type="submit" disabled id="save-changes-btn" class="filled-button-sm mt-3 invisible">Save Changes</button>
                </div>
            </div>
        </div>
        <!-- END LEFT CARD -->
        <!-- RIGHT CARD -->
        <div class="col-8 pr-0" style="padding-left:0;">
            <!-- DETAILS -->
            <div class="card col-12 mb-3">
                <div class="card-body">
                    <h5 class="card-title">Details</h5>
       
                    <div class="row mb-3">
                        <div class="form-floating col">
                            <label id="register-name">@(Model.AppUser.Roles=="Organizer"?"Organization Name":Model.AppUser.Roles=="Recycler"?"Full Name":"Admin Name")</label>
                            <input disabled id="register-orgName" asp-for="AppUser.FullName" class="form-control" aria-required="true" />
                            <span asp-validation-for="AppUser.FullName" class="text-danger"></span>
                        </div>
                        <input hidden asp-for="AppUser.Email" value="@Model.AppUser.Email"/>
                        <input hidden asp-for="AppUser.Roles" value="@Model.AppUser.Roles"/>
                        <div class="form-floating col">
                            <label asp-for="AppUser.PhoneNumber"></label>
                            <div class="input-group">
                                <input disabled class="input-group-prepend form-control" style="max-width:60px;" value="+65" />
                                <input disabled id="register-phone" asp-for="AppUser.PhoneNumber" class="form-control" aria-required="true" />
                            </div>
                            <span asp-validation-for="AppUser.PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END DETAILS -->

            <!-- ADDRESS -->
            <div class="card col-12">
                <div class="card-body">

                    <h5 class="card-title">Address</h5>
                    <div class="row mb-3">
                        <div class="form-floating col-12">
                            <label>Search Address</label>
                            <div class="input-group">
                                <span class="input-group-text" style="border-right:0;background:white;border-radius:.25rem 0 0 .25rem;"><i class="fa-solid fa-magnifying-glass"></i></span>
                                <input id="search-full-address" disabled style="border-left:0;"class="form-control" aria-required="true" placeholder="start typing to search.." />
                            </div>
                            <div id="select-address" class="show" style="position:relative;">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">

                        <div class="form-floating  col">
                            <label asp-for="AppUser.UnitNumber"></label>
                            <input id="register-unitNumber" asp-for="AppUser.UnitNumber" class="form-control" aria-required="true" disabled />
                            <span asp-validation-for="AppUser.UnitNumber" class="text-danger"></span>
                        </div>
                        <div class="form-floating  col">
                            <label asp-for="AppUser.BlockNumber"></label>
                            <input id="register-blockNumber" asp-for="AppUser.BlockNumber" class="form-control" aria-required="true" disabled  />
                            <span asp-validation-for="AppUser.BlockNumber" class="text-danger"></span>
                        </div>
                        <div  class="form-floating  col">
                            <label asp-for="AppUser.PostalCode"></label>
                            <input id="register-postalCode" asp-for="AppUser.PostalCode" class="form-control" aria-required="true" disabled  />
                            <span asp-validation-for="AppUser.PostalCode" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="form-floating mb-3">
                        <label asp-for="AppUser.RoadName"></label>
                        <input id="register-roadName" asp-for="AppUser.RoadName" class="form-control" aria-required="true" disabled />
                        <span asp-validation-for="AppUser.RoadName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <!-- END ADDRESS -->

        </div>
     <!-- END RIGHT CARD -->
</div>
</form>
<script>

    function showImgPreview(input) {
    if (input.files[0]) {
        var uploadimg = new FileReader();
        uploadimg.onload = function(displayimg) {
            $("#dashboard-image").attr('src', displayimg.target.result);
        }
        uploadimg.readAsDataURL(input.files[0]);
        }
    }
</script>
@section Scripts
{
    <script src="~/js/UserDashboard.js"></script>
}